# Ignore all files in the puzzleInput directories
2025/input/
2024/input/


#Ignore TypeScript project files
tsconfig.json
package-lock.json
package.json


# Ignore node modules
node_modules/

.vscode/